h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--quarta);
}

.title {
    text-transform: uppercase;
    color: var(--terceita)
}

.subtitle {
    color: var(--primary);
    font-weight: 500;
}

.subsub {
    color: var(--quarta);
}

.block {
    margin-bottom: 120px;
}

.button {
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.button-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.button-secondary:hover {
    background-color: var(--primary);
}

.btn-primary{
    background-color: var(--terceita);
    border-color: var(--terceita);
}

.btn-primary:hover {
    background-color: var(--primary);
}
